.menuRoot {
  height: 70px;
  background-color: #6E6E6E;
  width: 100%;
  margin: auto;
  line-height: 70px;
  position: relative;

  .menuLeft {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      width: 57px;
    }

  }

  .menuOptionCenter {
    width: 100%;
    position: absolute;

    .menuOptionCenterChild {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 30%;
      color: white;
      font-size: 16px;
    }

  }

  .menuRight{

    
  }
  
  
}
@media only screen and (max-width: 680px){
  .menuRoot {
    height: 70px;
    width: 100%;
    margin: auto;
    line-height: 70px;
    position: relative;
  
    .menuLeft {
      width: 100%;
      display: flex;
      justify-content: end;
      padding-left: 10px;

      img {
        width: 57px;
      }
  
    }
   
    .menuOptionCenter {
      width: 100%;
      position: absolute;
  
      .menuOptionCenterChild {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 30%;
      }
  
    }
    
  }
}
